
@{
    ViewBag.Title = "Index";
}

@section main
{
@*Закомментировать секцию для примера*@ 
<div class="jumbotron text-center">
    <h1>my first mvc view </h1>
    <p>omsk state technical university!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Controller..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>View..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Model..</p>

        </div>
    </div>
</div>
}

@section footer 
{
 @*//Закомментировать секцию для примера*@ 
<footer>
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
</footer>
}